node_modules
coverage
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.local
.env.development
.env.production
.env.test

.vscode
.idea

.git
.gitignore
*.tsbuildinfo

*.tf
*.tfstate*
terraform/
Dockerfile
Makefile
*.md
